h1 {
    color: brown;
}

#output-bx {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    max-width: 800px;
    background-color: antiquewhite;
}

#power, #n1, #n2, #i, #alpha, #beta {
    margin: 0.5rem;
    padding: 0.3rem;
}

#power:hover, #n1:hover, #n2:hover, #i:hover, #alpha:hover, #beta:hover {
    background-color: blanchedalmond;
}

#check-btn {
    max-width: 400px;
    margin: auto;
    padding: 0.3rem;
    border: 2px solid black;
    background-color: #d55d5d;
}

#check-btn:hover {
    background-color: white;
    border: 2px solid brown;
}
